//- post info
mixin postInfo(post)
	.post-info
		!= date(post.date, 'YYYY/MM/DD')

//- index page
mixin posts()
	ul.post-list
		- page.posts.each(function (post) {
				li.post-list-item
					h2.post-list-item-title
						a(href= url_for(post.path))!= post.title
					p.post-list-item-date!= date(post.date, 'YYYY/MM/DD')
					p!= post.excerpt
					a.read-more(href= url_for(post.path))!= __('more')
					hr
		- })

//- Post Page
mixin post(post)
	article.post-block
		.front-matter
			h1.post-title!= post.title
			+postInfo(post)
			!= list_categories(post.categories, { show_count: false, style: 'a', separator: '=>' })
			!= list_tags(post.tags, { show_count: false, style: 'a' })
			if post.photos.length !== 0
				.gallery-photos
					each val in post.photos
						img(src=val alt=val title=val)
			hr
		.post-content!= post.content
